{% extends "bases.html" %}
{% block content %}
	<section>
		<a href="{% url 'home' %}">Regresar</a>
		<aside>
			<div class="creador">
				<figure>
					<img class="avatar"
						src="{{MEDIA_URL}}{{ articulo.creador.avatar }}">
				</figure>
				<p class="username">
					{{ articulo.creador }}
				</p>
			</div>
			<div class="fechas">
				<span>{{ articulo.fecha|timesince }}</span>
			</div>
			<div class="votos">
				<a class="plus" href="#">P</a>		
				<p>{{ articulo.votos }}</p>
				<a class="minus" href="#">M</a>
			</div>
		</aside>
		<article>
			<h2 class="title">
				{{ articulo.titulo }}
			</h2>
			
			<div>
				<p>{{ articulo.contenido }}</p>
			</div>
		</article>
	</section>
{% endblock content %}



